footer {
    position: relative;
    width: 100%;
    /* height:10%; */
    margin: 0;
    background: #292E31;
    margin-top: 15px;
    vertical-align: bottom;
}
#footer ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
li {
    height: 100%;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-in;
    cursor: pointer; 
    /* not 100% sure what cursor: point; does - GUY research this */
}
li:hover,
li:active {
    background: #d89638;
}
.fixed-nav {
    position: fixed;
}
.content {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top: 20px;
}
.content > div {
    margin: 10px 0;
}