/* .site-form{
    font-family: 'Ropa Sans', sans-serif;
    background: #292E31;
    width: 49%;
    margin: auto;
    text-align: center;
    border: #d89638 2px solid;
    color: #d89638;
    letter-spacing: .2em; */
    /* padding: 15px; */
  /* } */
  /* .site-form h2{
    text-align: center;
  }
  
  select {
    border: #d89638 2px solid;
  }
  
  input,
  input h1 {
    border: #d89638 2px solid;  
    text-decoration: #292E31;
  }
  
  .site-form form label{
    display: inline-block;
    width: 130px;
    margin: 2%;
    text-align: left;
  } */
  
  /* .form-check input { */
     /* outline: none; */
    /* margin: -24%; */
    /* text-align: left;  */
  /* } */
  /* .site-form form input{
    text-align: left
  }
  .site-form form button {
    margin: 10px auto;
    display: flex;
    border: #d89638 2px solid;
  }
  .site-form input {
    width: 50%;
  } */
  
  /* .site-form.registration {
    margin-top: 60px;
  }
  
  .customers-table pure-table pure-table-horizontal {
    text-align: center;
  } */